{% extends 'base.html' %}
{% load static %}
{% block content %} 
        <section class="page-section about-heading">
            <div class="container">
		    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src={% static 'assets/img/about.jpg' %} alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h1 class="section-heading mb-4">
                                    <span class="section-heading-upper">Strong Team, Solid Background</span>
                                    <span class="section-heading-lower">About us</span>
                                </h1>
				<p>We are married couple with strong believes in our mission. One with professional experience in IT field (software development) and the second with great heart for health and delicious food.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
