{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
			<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src={% static 'assets/img/healthy_food_recipes_nutrition.jpg' %} alt="Eating healthy is fun" />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Everyone Knows, that</span>
                            <span class="section-heading-lower">Eating Healthy is Fun</span>
                        </h2>
                        <p class="mb-3">That is why we started our mission to create online tool, that will help you in process of creating an easy to manage diet planner.</p>
			<p class="mb-3">Currently we are growing a database of ingredients and recipes, by the end of 2022 we will release sections of the site that will allow you to add your own recipes (the page will calculate all the nutrients stats automatically for you!) and prepare weekly diet with automatic nutrition stats and shopping list.</p>
			<p class="mb-3">Please stay tuned - simply bookmark our webpage, and visit it from time to time. If you like it, do not forget to share a link on social media - traffic from new users give us the power to work harder.</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl bookmark" id="bookmark" href="#">Bookmark our page Today!</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Our Promise</span>
                                <span class="section-heading-lower">To You</span>
                            </h2>
                            <p class="mb-0">We do our best to provide most accurate data about ingredients and its nutrition facts, the recipes and the ease of use of our webpage. The data about ingredients is taken mostly from USDA databases but you should have in mind that even with the most acurate sources in reallife some food properties may depend on other factors like usage of fertilizers or ripeness of vegetables/fruits. Currently in our database there are over 9000 ingredients that we have to verify before showing online.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
	{% endblock %}

