{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
        <section class="page-section about-heading">
<div class="container">
		    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src={% static 'assets/img/weight.jpg' %} alt="..." />
		    <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
		<h1>Calculate nutrients of your meal</h1>
		{% if not saved_list %}
		<h2>How nutrient calculator works</h2>
		<p>Nutrition calculator is a free online tool, that is using our internal database of {{ verified }} verified ingredients to calculates the nutrition data. Just select all ingredients one by one (confirming with "add" button, and click finish if you put them all. Currently it displays only data for raw ingredients that may change after heat processing, it assumes that recipe serves 4 for given amounts of ingredients.</p>
		{% endif %}
		<h2>List of ingredients for your recipe</h2>
		<p>Just add the ingredients one, by one. If you don't provide data about amount of ingredient it will not be added to the list. You can share a link to your recipe calculations with others, but keep in mind that temporary calculations older than 1 month will be automatically deleted. In the future we will prepare features that will allow you to create your own recipes and share with others permanently, so stay tuned.</p>
		<ul>
			{% for item in saved_list %}
			<li>{{ item.name }} {{ item.amount }} {{ item.measure }}</li>
			{% endfor %}
		</ul>
		
		<form method="POST">
			{% csrf_token %}
			{{ form.accept_rules }}
			{{ form.ingredient | as_crispy_field }}
			{{ form.amount | as_crispy_field }}
			{{ form.measure | as_crispy_field }}
			<input type="submit" class="btn btn-primary" name="add_ingredient" value="Add">
			<input type="submit" class="btn btn-warning" name="remove_ingredient" value="Remove Last one">
			<input type="submit" class="btn btn-danger" name="rmrf" value="Remove All">
			<input type="submit" class="btn btn-success" name="finish" value="Finish">
		</form>
		    </div>
			</div>
		    </div>
		    </div>

	</div>
	</section>
{% endblock %}
