{% extends 'base.html' %}
{% block metadata %}
<meta name="description" content="A list of recipes in category: {{ object.name }}." />
<meta name="keywords" content="recipe,receipt,database,{{ object.name }}" />
        <meta name="author" content="" />
	<meta name="category" content="food" />
	<meta name="revisit-after" content="30 days" />
	<meta name='coverage' content='Worldwide' />
	<meta name='distribution' content='Global' />

	<meta property='og:title' content='A list of recipes in category: {{ object.name }}.' />
	<meta property='og:url' content='http://eatinghealthyis.fun/recipes/categories/{{ object.slug }}' />
	<meta property='og:site_name' content='Eating Healthy is Fun' />
	<meta property='og:description' content='A list of recipes category: {{ object.name }}.' />
	<title>Eating Healthy is Fun - a list of recipes in category: {{ object.name }}</title>
{% endblock %}
{% block content %}
{% load static %}
<!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container">
		<h1 class="display-3 bg-faded rounded">Recipes in {{ object.name }} category</h1>

		<a class="text-uppercase nav-link" style="display:inline-block" href={% url 'categories' %}>Recipes ></a>
	    <a class="text-uppercase nav-link" style="display:inline-block;padding:0 rem" href={% url 'category' object.slug %}>{{ object.name }}</a>
        </div>


      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
        {% for item in object.recipes.all %}
          <div class="col-md-3 mt-4">
            <div class="bg-faded p-3 d-flex ms-auto rounded">
		    <h2 class="section-heading mb-0">
			<span class="section-heading-upper">{{ item.type.name }}</span>	  
			<span class="section-heading-lower">{{ item.name }}</span>	  
		    </h2>
	    </div>
	    {% if item.image %}
	    	<img class="intro-img img-fluid mb-n3 mb-lg-0 rounded" src={% static item.image %} width="100%" alt="{{ item.name }}" style="margin-bottom: -50px !important">
	    {% else %}
	    	    <img class="intro-img img-fluid mb-n3 mb-lg-0 rounded" src={% static 'assets/no-image-available.png' %}  alt="{{ item.name }}" style="margin-bottom: -50px !important">
	    {% endif %}
	    <div class="intro-button mx-auto" ><a class="btn btn-primary btn-l" href={% url 'recipe' item.slug %}>View Recipe</a></div>
          </div>
        {% endfor %}
        </div>

        <hr>

      </div> <!-- /container -->
{% endblock %}

